<ion-header>
  <ion-navbar [color]="homePage ? 'danger' : 'secondary'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <ion-list>
	<button ion-item *ngFor="let state of states; let i = index" (click)="getInfo(state)">
	  {{ state.nome }} 
	</button>  
  </ion-list>

  <button ion-button primary (click)="goToTestPage()">Ir para Test page</button>  
  <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button primary (click)="getPhoto()">Tirar foto</button>

  <img src="{{ photo }}" alt="" *ngIf="photo" width="100%" height="150px">
</ion-content>
